@font-face {
  font-family: kanjiro;
  src: url(/kajiro/Kajiro\ Bold.woff2);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100vh;
  width: 100%;
}

#back {
  height: 100vh;
  width: 100%;
}
#back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#top {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

#workingarea {
  position: relative;
  height: 100vh;
  width: 80%;
  max-width: 1920px;
}
#nav {
  margin-top: 1.5vw;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Lnav {
  display: flex;
  align-items: center;
  padding: 0 2vw;
  width: 15vw;
  gap: 4vw;
}
#Lnav img {
  height: 3.8vw;
}
a {
  pointer-events: all;
  color: #fff;
  text-decoration: none;
  font-size: 1vw;
}

#Rnav {
  width: 10vw;
  display: flex;
  gap: 2.4vw;
  padding: 0 2vw;
}

#content {
  position: absolute;
  top: 58%;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#Leftcontent {
  position: relative;
  min-width: 50%;
  margin-top: 5vh;
}
#Leftcontent .elem {
  position: relative;
  height: 12vh;
  overflow: hidden;
}
#Leftcontent .elem h1:nth-child(1) {
  top: 0;
}
#Leftcontent .elem h1 {
  position: absolute;
  top: 100%;
  line-height: 0.9;
  font-weight: 100;
  font-family: kanjiro;
  font-size: 8vw;
  color: #fff;
}

#Leftcontent button {
  pointer-events: all;
  padding: 0.8vw 2vw;
  font-size: 3vw;
  font-family: kanjiro;
  margin-top: 3vw;
  color: #000000;
}
#Rcontent {
  position: relative;
  width: 17%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
}
#Rcontent p {
  font-size: 14px;
  text-align: left;
}
#Rcontent #imge {
  pointer-events: all;
  height: 170px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  background-image: url(/assets/IMG_7564.webp);
  background-size: cover;
  background-position: center;
}

#Rcontent p:nth-child(3) {
  margin-bottom: 80px;
}

@media (max-width: 1260px) {
  #Leftcontent {
    min-width: 50%;
    margin-top: 0vh;
  }

  #Rcontent {
    width: 30%;
    top: -50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
  }

  #Rcontent #imge {
    pointer-events: all;
    height: 170px;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 10px;
    background-image: url(/assets/IMG_7564.JPG);
    background-size: cover;
    background-position: center;
  }

  #Rcontent p:nth-child(3) {
    margin-bottom: 50px;
  }
}
/* 
@media (max-width: 375px) {
  #Leftcontent {
    min-width: 50%;
    margin-top: 0vh;
  }

  #Rcontent {
    width: 30%;
    top: -50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
  }

  #Rcontent #imge {
    pointer-events: all;
    height: 170px;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 10px;
    background-image: url(/assets/IMG_7564.JPG);
    background-size: cover;
    background-position: center;
  }

  #Rcontent p:nth-child(3) {
    margin-bottom: 50px;
  }
} */
